software_entwurf/src/main/resources/2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ArrayOfBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Booking" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="bookingdate"/>
              <xs:element name="price">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:short">
                      <xs:attribute type="xs:string" name="unit" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="adress">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="street"/>
                    <xs:element type="xs:byte" name="housenumber"/>
                    <xs:element type="xs:string" name="zipcode"/>
                    <xs:element type="xs:string" name="city"/>
                    <xs:element type="xs:string" name="country"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="description">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="class"/>
                    <xs:element type="xs:string" name="size"/>
                    <xs:element type="xs:string" name="weight"/>
                    <xs:element type="xs:dateTime" name="thistime"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="Id" use="optional"/>
            <xs:attribute type="xs:long" name="creditnumber" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>